{
    "env":{
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": ["airbnb/base"],
    "rules": {
        "no-shadow" : 1,
        "no-unused-vars":"warn",
        "no-console": "off"
    }
}